<% content_for :title, "一覧画面" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 text-green-600 font-medium rounded-md inline-block mb-5 shadow-inner">
      <%= notice %>
    </p>
  <% end %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-4xl">一覧画面</h1>
    <%= link_to "徳を積む", new_post_path,
        class: "px-4 py-2 text-blue-600 bg-white rounded-xl shadow-inner hover:shadow font-medium transition" %>
  </div>

  <% if @posts.any? %>
    <div id="posts" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <% @posts.each do |post| %>
        <%= link_to post, class: "block bg-white rounded-xl shadow-inner hover:shadow p-5 transition" do %>
          <div class="space-y-3">
            <p class="text-sm text-gray-500">投稿者: <span class="font-medium text-gray-700"><%= post.user.name %></span></p>
            <h2 class="text-lg font-semibold text-gray-800">タイトル: <%= post.title %></h2>
            <p class="text-sm text-gray-600"><%= post.recorded_on_formatted %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p class="text-center my-10 text-gray-500">投稿が見つかりませんでした。</p>
  <% end %>
</div>
